<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html" />
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-config/abas-config-meta.html" />
<link rel="import" href="../aba-js-imports/lodash-import.html" />
<link rel="import" href="../paper-dialog/paper-dialog.html" />

<dom-module id="abas-erp-command-builder">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<style>
			:host {
				display: block;
			}

			.setup {
				width: 80vw;
				display: flex;
				flex-direction: column;
				padding: 20px;
			}

			.flex-container-vertical {
				display: flex;
				flex-direction: column;
				margin: 0 -16px;
			}

			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				margin: 0 -16px;
				align-items: flex-end;
			}

			.flex-wrap {
				flex-wrap: wrap;
			}

			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				max-width: 650px;
				flex-basis: auto;
				margin: 0 16px;
			}

			.padding-left-16 {
				padding-left: 16px;
			}

			.text-align-center {
				text-align: center;
			}

			.body {
				height: 100%;
			}

			.bottom {
				display: flex;
				flex-flow: row-reverse;
				padding-top: 16px;
			}

			.testCommand {
				font-family: "Roboto", "Noto", sans-serif;
				-webkit-font-smoothing: antialiased;
				font-size: 18px;
				font-weight: 300;
				text-decoration: underline;
				padding-top: 50px;
			}

			.testCommand:hover {
				color: grey;
				cursor: pointer;
			}

			.switcher {
				display: flex;
			}

			.backgroundSwitcher {
				background-color: var(--abas-catskill-white);
			}

			.switcherDivs {
				display: flex;
				align-items: center;
				height: 28px;
				border: 1px solid rgba(48, 123, 150, 0.3);
				padding-left: 3px;
				padding-right: 3px;
			}

			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}

			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}

			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 12px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}

			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}

			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}

			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}

			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}

			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}

			.generate {
				padding-top: 16px;
			}
		</style>

		<!-- Main input field -->
		<template is="dom-if" if="{{_showAsIcon}}">
			<abas-icon icon="cog" on-tap="_openSetup"></abas-icon>
		</template>
		<template is="dom-if" if="{{!_showAsIcon}}">
			<ui-text-field label="[[label]]" text="[[erpCommand]]" on-focus="_openSetup"></ui-text-field>
		</template>

		<!-- Input support -->
		<paper-dialog id="setup" class="setup" no-close-on-outside-click>
			<!-- <div class="setup"> -->
				<h3>[[localize('erpCommandBuilder.commandBuilder')]]</h3>
				<ui-auto-complete label="[[localize('erpCommandBuilder.type')]]" items="[[_types]]" selected-item="{{selectedType}}">
				</ui-auto-complete>
				<div class="body">
					<div class="flex-container-horizontal flex-wrap">
						<div class="flex-item flex-container-vertical">
							<!-- Case: database -->
							<template is="dom-if" if="[[_isDatabase(selectedType)]]">
								<ui-auto-complete label="[[localize('erpCommandBuilder.database')]]" items="[[_vartabs]]"
									selected-item="{{selectedDatabase}}">
								</ui-auto-complete>
								<ui-auto-complete label="[[localize('erpCommandBuilder.action')]]" items="[[_dbGrpActions]]"
									selected-item="{{selectedDatabaseAction}}">
								</ui-auto-complete>
								<ui-text-field label="[[localize('erpCommandBuilder.databaseObject')]]" text="{{databaseOptions}}">
								</ui-text-field>
								<ui-text-field label="[[localize('erpCommandBuilder.screenActions')]]" text="{{screenActions}}">
								</ui-text-field>
								<abas-function-button class="generate" on-tap="_computeDatabaseCommand">
									[[localize('erpCommandBuilder.generate')]]</abas-function-button>
							</template>
							<!-- Case: infosystem -->
							<template is="dom-if" if="[[_isInfosystem(selectedType)]]">
								<div class="flex-container-horizontal">
									<div class="flex-item">
										<ui-auto-complete label="[[localize('erpCommandBuilder.infosystem')]]" items="[[_infosystems]]"
											selected-item="{{selectedInfosystem}}">
										</ui-auto-complete>
									</div>
									<div class="flex-item">
										<ui-checkbox label="[[localize('erpCommandBuilder.startNow')]]"
											item-checked="{{startImmediately}}"></ui-checkbox>
									</div>
								</div>
								<ui-text-field label="[[localize('erpCommandBuilder.query')]]" text="{{infosystemOptions}}">
								</ui-text-field>
								<abas-function-button class="generate" on-tap="_computeInfosystemCommand">
									[[localize('erpCommandBuilder.generate')]]</abas-function-button>
							</template>
							<!-- Case: type command -->
							<template is="dom-if" if="[[_isTypeCommand(selectedType)]]">
								<ui-auto-complete label="[[localize('erpCommandBuilder.typeCommand')]]" items="[[_typeCommands]]"
									selected-item="{{selectedTypeCommand}}">
								</ui-auto-complete>
								<ui-text-field label="[[localize('erpCommandBuilder.options')]]" text="{{typeCommandOptions}}">
								</ui-text-field>
								<abas-function-button class="generate" on-tap="_computeTypeCommand">
									[[localize('erpCommandBuilder.generate')]]</abas-function-button>
							</template>
						</div>
						<div class="flex-item flex-container-vertical">
							<h5>[[localize('erpCommandBuilder.subscriptionsAvailable')]] </h3>
								<!-- <ui-db-subscriptions databases="[[_vartabs]]" subscriptions="{{subscriptions}}"></ui-db-subscriptions> -->
								<table class="dataTable" summary="Available subscriptions">
									<thead>
										<tr>
											<th scope="col">[[localize('erpCommandBuilder.fieldname')]]</th>
											<th scope="col">[[localize('erpCommandBuilder.topics')]]</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<template is="dom-repeat" items="[[subscriptions]]" as="subscription">
											<tr>
												<td>[[subscription.name]]</td>
												<td>[[subscription.topics]]</td>
												<td style="width: 15em" class="text-align-center">
													<abas-icon icon="plus" on-tap="_onTapAddSubscription"
														title="[[localize('erpCommandBuilder.addToQuery')]]"></abas-icon>
												</td>
											</tr>
										</template>
									</tbody>
								</table>
						</div>
					</div>
					<!-- Display command -->
					<h4>[[localize('erpCommandBuilder.result')]]</h4>
					<div class="flex-container-horizontal">
						<div class="flex-item">
							<ui-text-field label="[[localize('erpCommandBuilder.erpCommand')]]" text="[[erpCommand]]"></ui-text-field>
						</div>
						<div class="padding-left-16">
							<abas-function-button on-tap="_openCommand">[[localize('erpCommandBuilder.tryout')]]</abas-function-button>
						</div>
					</div>
				</div>
				<div class="bottom">
					<abas-function-button on-tap="_closeDialog">[[localize('erpCommandBuilder.close')]]</abas-function-button>
				</div>
			<!-- </div> -->
		</paper-dialog>
	</template>

	<script>
		/**
		 * `abas-erp-command-builder`
		 * abas ERP Command Builder Wizard
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class AbasErpCommandBuilder extends Polymer.mixinBehaviors([Polymer.PaperInputBehaviorImpl], Polymer.AbasLocalizeMixin(Polymer.Element)) {
			static get is() {
				return "abas-erp-command-builder";
			}
			static get properties() {
				return {
					/* input */
					type: { type: String, value: "input" },
					company: { type: Object }, // input
					subscriptions: { type: Array, value: () => { return [] } },
					settings: { type: Object, value: () => { return {} }, notify: true },
					/* output */
					erpCommand: { type: String, value: "", notify: true },
					/* internals */
					_types: { type: Array, value: () => { return [] } },
					_vartabs: { type: Array, value: () => { return [] } },
					_infosystems: { type: Array, value: () => { return [] } },
					_typeCommands: { type: Array, value: () => { return [] } },
					_dbGrpActions: { type: Array, value: () => { return [] } },
					/* */
					initialized: { value: false },
					selectedType: { type: Object },
					/* case: database */
					selectedDatabase: { type: Object, value: {} },
					selectedDatabaseAction: { type: Object, value: {} },
					databaseOptions: { type: String, value: "" },
					/* case: infosystem */
					selectedInfosystem: { type: Object, value: {} },
					infosystemOptions: { type: String, value: "" },
					startImmediately: { type: Boolean },
					/* case: type command */
					selectedTypeCommand: { type: Object, value: {} },
					typeCommandOptions: { type: String, value: "" }
				};
			}

			static get observers() {
				return [
					"_getDatasourceMetadata(_configuration, company)",
					"_getDatabaseActions(_configuration, selectedDatabase)"
				];
			}

			/**
			 * Instance of the element is created/upgraded. Useful for initializing
			 * state, set up event listeners, create shadow dom.
			 * @constructor
			 */
			constructor() {
				super();
			}

			/**
			 * Called every time the element is inserted into the DOM. Useful for
			 * running setup code, such as fetching resources or rendering.
			 * Generally, you should try to delay work until this time.
			 */
			connectedCallback() {
				super.connectedCallback();

				this.addEventListener("app-localize-resources-loaded", e => {
					this._types = [
						{ title: this.localize("erpCommandBuilder.database"), value: "D" },
						{ title: this.localize("erpCommandBuilder.infosystem"), value: "I" },
						{ title: this.localize("erpCommandBuilder.typeCommand"), value: "T" }
					];

					if (!_.isEmpty(this.settings)) {
						this.selectedType = this.settings.selectedType;
						this.selectedDatabase = this.settings.selectedDatabase;
						this.databaseOptions = this.settings.databaseOptions;
						this.screenActions = this.settings.screenActions;
						this.selectedAction = this.settings.selectedAction;
						this.startImmediately = this.settings.startImmediately;
						this.selectedInfosystem = this.settings.selectedInfosystem;
						this.infosystemOptions = this.settings.infosystemOptions;
						this.selectedTypeCommand = this.settings.selectedTypeCommand;
						this.typeCommandOptions = this.settings.typeCommandOptions;
					}
					this.initialized = true;

					// default value: database
					if (!this.selectedType) {
						this.set('selectedType', this._types[0]);
					}
				});

				this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
			}

			_showAsIcon() {
				return this.type === "icon";
			}

			_getTopicList(subscriptions) {
				if (_.isEmpty(subscriptions)) return;

				let topicArray = [];
				subscriptions.forEach((sub) => {
					sub.topics.forEach((topic) => {
						if (!_.isEmpty(topic)) {
							let searchTopic = _.find(topicArray, { topic: topic });
							if (!searchTopic) {
								topicArray.push({ topic: topic, variables: [`${sub.name}`] });
							} else {
								searchTopic.variables.push(sub.name);
							}
						}
					})
				})
				this._topicList = topicArray;
				console.log("topicArray");
				console.log(topicArray)
			}

			_getDatasourceMetadata(configuration, company) {
				if (!configuration || !company) return;

				let oldCmd = this.erpCommand.trim().slice(0);

				// databases
				abasWidgets.API.fetchDatabases({
					erpBaseUrl: _.get(configuration, 'api.erpBaseURL'),
					companyHref: company.href
				}).then((dbList) => {
					this.set('_vartabs', dbList);
					if (_.isEmpty(this.settings) && !_.isEmpty(this.erpCommand) && this.erpCommand.startsWith("<(")) {
						this.selectedType = this._types[0];
						let databaseMatch = oldCmd.match(/^\<\((\w+)\)\>(.*)\<\((\w+)\)\>,\((\w+)\)(.*)$/);
						let database;
						if (!_.isEmpty(databaseMatch)) {
							database = _.filter(dbList, { dbId: databaseMatch[1], id: databaseMatch[4] });
						}
						if (!_.isEmpty(database)) {
							this.selectedDatabase = database[0];
							if (!_.isEmpty(databaseMatch[4])) {
								if (_.isEmpty(this._dbGrpActions)) {
									this._getDatabaseActions(this._configuration, this.selectedDatabase)
										.then((actions) => {
											let action = _.find(actions, {
												dbId: databaseMatch[1],
												groupId: databaseMatch[4],
												title: databaseMatch[3]
											});
											if (action) {
												this.selectedDatabaseAction = action;
											}
										})
								} else {
									let action = _.find(this._dbGrpActions, {
										dbId: databaseMatch[1],
										groupId: databaseMatch[4],
										title: databaseMatch[3]
									});
									if (action) {
										this.selectedDatabaseAction = action;
									}
								}
							}
							if (!_.isEmpty(databaseMatch[2])) {
								this.databaseOptions = databaseMatch[2];
							}
							if (!_.isEmpty(databaseMatch[5])) {
								let options = databaseMatch[5].trim();
								if (options.startsWith("?")) {
									options = options.slice(1);
								}
								this.screenActions = options;
							}
						}
						let newCmd = this.erpCommand;
						// console.log("Database command still the same? " + _.isEqual(oldCmd, newCmd));
						// Just to make sure we din't miss something
						this.erpCommand = oldCmd;
					}
				});

				// infosystems
				abasWidgets.API.fetchInfosystems({
					erpBaseUrl: _.get(configuration, 'api.erpBaseURL'),
					companyHref: company.href
				}).then((infosysList) => {
					this.set('_infosystems', infosysList);
					// set the command builder dialog fields
					if (_.isEmpty(this.settings) && !_.isEmpty(this.erpCommand) && this.erpCommand.startsWith("(Infosystem)")) {
						this.selectedType = this._types[1];
						let infosysMatch = oldCmd.match(/^\(Infosystem\) (\w+) (\w+) (\?.+)$/);
						let infosys;
						// console.log(infosysMatch);
						if (!_.isEmpty(infosysMatch)) {
							infosys = _.filter(infosysList, { searchWord: infosysMatch[1], workspace: infosysMatch[2] });
						}
						if (!_.isEmpty(infosys)) {
							this.selectedInfosystem = infosys[0];
							if (oldCmd.includes("bstart=1")) {
								this.startImmediately = true;
							}
							if (!_.isEmpty(infosysMatch[3].trim())) {
								let queryPart = infosysMatch[3].trim().slice(1); // delete the ? (see regExp)
								queryPart = queryPart.replace('bstart=1', '').trim();
								if (queryPart.slice(-1) == "|") {
									queryPart = queryPart.slice(0, -1).trim();
								}
								this.infosystemOptions = queryPart;
							}
						}
						let newCmd = this.erpCommand;
						// console.log("Infosys command still the same? " + _.isEqual(oldCmd, newCmd));
						// Just to make sure we didn't miss something
						this.erpCommand = oldCmd;
					}
				});

				// type commands
				const headers = new Headers();
				headers.set("accept", "application/abas.objects+json");
				headers.set("content-type", "application/json");
				const erpBaseUrl = _.get(configuration, "api.erpBaseURL");
				auth0Fetch(`${erpBaseUrl}/mw/r/${company.id}/sys/typeCmd/meta/`, {
					method: "GET",
					headers: headers
				}).then(resp => {
					if (resp.ok) { return resp.json(); }
					return [];
				}).then(mwResponse => {
					let typeCommands = _.get(mwResponse, "content.data.commands", []);
					return typeCommands.map((datarow) => {
						return Object.assign({}, datarow, {
							title: `${_.get(datarow, 'name')}`
						})
					});
				}).then(typeCommands => {
					this.set('_typeCommands', typeCommands);
				});
			}

			_getDatabaseActions(configuration, selectedDatabase) {
				if (!configuration || _.isEmpty(selectedDatabase)) return;
				// check if already there
				if (!_.isEmpty(this._dbGrpActions)) {
					let alreadyLoaded = _.find(this._dbGrpActions, {
						dbId: selectedDatabase.dbId,
						groupId: selectedDatabase.id
					});
					if (alreadyLoaded) return;
				}

				const headers = new Headers();
				headers.set("accept", "application/abas.objects+json");
				headers.set("content-type", "application/json");

				const erpBaseUrl = _.get(configuration, "api.erpBaseURL");
				return auth0Fetch(`${erpBaseUrl}${selectedDatabase.link.href}/commands`, {
					method: "GET",
					headers: headers
				}).then(resp => {
					if (resp.ok) {
						return resp.json();
					}
					return [];
				}).then(mwResponse => {
					let results = _.get(mwResponse, "content.data.commands", []);
					let actions = results.map((datarow) => {
						let title = _.get(datarow, 'editAction');
						switch (title) {
							case "COPY": title = "Copy"; break;
							case "DELETE": title = "Delete"; break;
							case "EMPTY": title = "Empty"; break;
							case "NEW": title = "New"; break;
							case "TRANSFER": title = "Transfer"; break;
							case "UPDATE": title = "Edit"; break; // because EDP/MW: Update -> Edit
							case "VIEW": title = "View"; break;
						}
						return Object.assign({}, datarow, {
							title: title
						})
					});
					if (!_.find(actions, { title: 'Empty' })) {
						actions.push({ title: 'Empty', withObject: false })
					}
					this.set("_dbGrpActions", actions);
					return actions;
				}).then(actions => {
					// preselect action
					if (_.isEmpty(this.selectedDatabaseAction)) {
						let defaultAction = _.find(actions, { editAction: "NEW" }) || actions[0];
						this.set('selectedDatabaseAction', defaultAction);
					}
					return actions;
				});
			}

			_computeDatabaseCommand() {
				if (!this.selectedType || !this._isDatabase(this.selectedType)) return;
				if (_.isEmpty(this.selectedDatabase) || _.isEmpty(this.selectedDatabaseAction)) return;
				this.set("erpCommand", "");
				// <Datenbankname>Objektangabe<Aktion>,[Vorbelegung][?Maskenaktionen]
				let commandString = _.get(this.selectedDatabaseAction, 'commandString');
				let object = this.databaseOptions || "";
				if (_.get(this.selectedDatabaseAction, 'withObject') && _.isEmpty(this.databaseOptions)) {
					let filterTopics = _.filter(this.subscriptions, function (sub) { return sub.topics.includes(this.selectedDatabase.tableSpec) });
					if (!_.isEmpty(filterTopics)) {
						object = "${message." + filterTopics[0].name + "}";
						this.databaseOptions = object;
					}
				}
				let cmd = _.replace(commandString, "'NS'", object);
				if (!_.isEmpty(this.screenActions)) {
					cmd += this.screenActions.trim().startsWith("?") ? this.screenActions : '?' + this.screenActions;
				}
				this.set("erpCommand", cmd);
				this._saveSettings();
			}

			_computeInfosystemCommand() {
				if (!this.selectedType || !this._isInfosystem(this.selectedType)) return;
				if (_.isEmpty(this.selectedInfosystem)) return;
				this.set("erpCommand", "");
				let params = this.infosystemOptions || "";
				if (this.startImmediately) {
					params += `${params ? " | " : ""}bstart=1`;

				}
				params = params ? `? ${params}` : "";
				let cmd = `(Infosystem) ${this.selectedInfosystem.searchWord} ${this.selectedInfosystem.workspace} ${params}`.trim();
				this.set("erpCommand", cmd);
				this._saveSettings();
			}

			_computeTypeCommand() {
				if (!this.selectedType || !this._isTypeCommand(this.selectedType)) return;
				if (_.isEmpty(this.selectedTypeCommand)) return;
				this.set("erpCommand", "");
				let cmd = `${this.selectedTypeCommand.name} ${this.typeCommandOptions}`.trim();
				this.set("erpCommand", cmd);
				this._saveSettings();
			}

			_onTapAddSubscription(event) {
				const index = event.model.__data.index;
				let sub = _.get(this.subscriptions[index], 'name');
				if (!_.isEmpty(sub)) {
					let newEntry = "${message." + sub + "}";
					switch (_.get(this.selectedType, 'value')) {
						case "D": if (_.get(this.subscriptions[index], 'topics').includes(this.selectedDatabase.tableSpec)) {
							this.databaseOptions = newEntry;
						} else {
							alert('Topic not valid for this database.');
						}
						case "I": this.infosystemOptions = this.infosystemOptions + newEntry;
						case "T": this.typeCommandOptions = this.typeCommandOptions + " " + newEntry;
					}
				}
			}

			_saveSettings() {
				let settings = {
					selectedType: this.selectedType,
					selectedDatabase: this.selectedDatabase,
					selectedDatabaseAction: this.selectedDatabaseAction,
					databaseOptions: this.databaseOptions,
					selectedInfosystem: this.selectedInfosystem,
					infosystemOptions: this.infosystemOptions,
					startImmediately: this.startImmediately,
					selectedTypeCommand: this.selectedTypeCommand,
					typeCommandOptions: this.typeCommandOptions
				};
				this.set('settings', settings);
			}

			_openCommand() {
				let commandURL = abasWidgets.API.generateLinkToErpByCommand({ company: this.company, erpCommand: this.erpCommand })
				window.open(commandURL);
			}

			_isDatabase(selectedType) {
				return selectedType && selectedType.value == "D";
			}

			_isInfosystem(selectedType) {
				return selectedType && selectedType.value == "I";
			}

			_isTypeCommand(selectedType) {
				return selectedType && selectedType.value == "T";
			}

			_openSetup(event) {
				this.$.setup.opened = true;
			}

			_closeDialog() {
				this.$.setup.opened = false;
			}
		}

		window.customElements.define(AbasErpCommandBuilder.is, AbasErpCommandBuilder);
	</script>
</dom-module>